<div ng-controller="HomeController" ng-include="'views/template/navTemplate.html'"></div>
<div class="jumbotron text-center">
    <h2> {{"CONTENT" | translate}} </h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>{{"HOME" | translate}}</h3>
        </div>
        <div class="col-sm-4">
            <h3>{{"HOME" | translate}}</h3>
        </div>
        <div class="col-sm-4">
            <h3>{{"HOME" | translate}}</h3>
        </div>
    </div>
</div>
