<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h1><span class="fa fa-sign-in"></span>{{"LOGINFORM" | translate}}</h1>
            <p ng-bind="message"></p>
            <!-- LOGIN FORM -->
            <form name="loginForm">
                <div class="form-group">
                    <label>{{"USERNAME" | translate}}</label>
                    <input type="text" name="username" class="form-control" ng-model="userName" required>
                </div>
                <div class="form-group">
                    <label>{{"PASSWORD" | translate}}</label>
                    <input type="password" name="password" class="form-control" ng-model="password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-lg" ng-click="LoginCtrl.validateUser(userName, password)">{{"LOGIN" | translate}}</button>
                <a ui-sref="signup">{{"SIGNUP" | translate}}</a>
            </form>
        </div>
    </div>
</div>
